@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #F6F8FF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 60px;
    font-family: 'Space Mono', monospace;
    min-height: 100vh;
}
a{
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}
.container{
    max-width: 720px;
    width: 100%;
    padding: 31px 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    &>.container-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &>h1{
            color: #222731;
            font-size: 26px;
            font-weight: 700;
        }
        &>p{
            display: flex;
            justify-content: center;
            align-items: flex-start;
            gap: 16px;
            color: #697C9A;
            font-size: 13px;
            font-weight: 700;
            letter-spacing: 2.5px;
        }
    }
    &>.container-search{
        width: 100%;
        border-radius: 15px;
        background: #FEFEFE;
        padding: 23px 30px;
        box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.20);
        margin-top: 35px;
        display: flex;
        align-items: center;
        position: relative;
        &>input{
            border: none;
            outline: none;
            background: transparent;
            padding-left: 25px;
            width: 100%;
            color: #222731;
            
            font-size: 18px;
            font-weight: 400;
            font-family: 'Space Mono', monospace;
            line-height: 25px;
            &::placeholder{
                color: #4B6A9B;
                font-size: 18px;
                font-weight: 400;
                font-family: 'Space Mono', monospace;
                line-height: 25px;
            }
        }
        &>button{
            position: absolute;
            right: 10px;
            border-radius: 10px;
            background: #0079FF;
            padding: 13px 24px;
            border: none;
            color: #FFF;
            font-family: 'Space Mono', monospace;
            font-size: 16px;
            font-weight: 700;
        }
    }
    &>.container-main{
        border-radius: 15px;
        background: #FEFEFE;
        box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.20);
        display: grid;
        grid-template-columns: 117px 1fr;
        padding: 48px;
        margin-top: 25px;
        column-gap:  37px;
        .container-main_picture{
            height: 100%;
            &>img{
                border-radius: 117px;
            }
        }
            .container-main_text{
                .container-main_text--header{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    div{
                        &>h2{
                            color: #2B3442;
                            font-size: 26px;                    
                            font-weight: 700;
                        }
                        &>a{
                            color: #0079FF;
                            font-size: 16px;
                            font-weight: 400;
                        }
                    }
                    &>p{
                        color: #697C9A;
                        font-size: 15px;
                        font-weight: 400;
                    }
                }
            }
            .container-main_info{
                &>p{
                    color: #4B6A9B;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 25px;
                    padding: 0 0 32px;
                }
                .container-main_text--statistics{
                    width: 100%;
                    border-radius: 10px;
                    background: #F6F8FF;
                    display: flex;
                    justify-content: space-between;
                    padding: 15px 32px;
                    margin-bottom: 37px;
                    &>div{
                        display: flex;
                        flex-direction: column;
                        &>span{
                            color: #4B6A9B;
                            font-size: 13px;
                            font-weight: 400;
                        }
                        &>h3{
                            color: #2B3442;
                            font-size: 22px;
                            font-weight: 700;
                        }
                    }
                }
                .container-main_text--links{
                    display: flex;
                    column-gap: 62px;
                    div{
                        width: 45%;
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        &>p{
                            display: flex;
                            align-items: center;
                            gap: 16px;
                            &>a{
                                color: #4B6A9B;
                                font-size: 15px;
                                font-weight: 400;
                            }
                        }
                    }
                    .not-information{
                        opacity: 0.5;
                        &>a{
                            text-decoration: none;
                            cursor:initial;
                        }
                    }
                }
            }
        }
    }


@media (max-width:845px) {
    body{
        padding: 50px 90px;
    }
    .container{
        max-width: 573px;
        width: 573px;
        &>.container-main{
            grid-template-rows: 120px 1fr;
        padding: 40px;
        width: 100%;
            .container-main_picture{
                height: 117px !important;
            }
            .container-main_text{
                .container-main_text--header{
                    flex-direction: column;
                    justify-content: center;
                    align-items: start;
                }
            }
           .container-main_info{
            width: 473px;
            margin-top: 24px;
                .container-main_text--statistics{
                    max-width: 765px;
                    gap: 99px;
                }
            }
            .container-main_text--links{
                max-width: 765px;
            }
        }
    }
    .tablet{
        display: none;
    }
}

@media (max-width: 720px) {
    body{
        padding: 30px 24px;
    }    
    .container{
        .container-main{
            padding: 32px 24px 48px;
        }
    }
}

@media (max-width: 560px){
    .container{
        padding: 0;
        width: 100%;
        .container-search{
            padding: 16px 20px;
            input{
                padding-left: 5px;
            }
            input::placeholder{
                font-size: 13px;
            }
            button{
                padding: 12px 16px;
                font-size: 13px;
            }
        }
        .container-main{
            grid-template-columns: 70px 1fr;
            grid-template-rows: 70px 1fr;
            width: 100%;
            .container-main_picture{
                img{
                    width: 70px;
                }
            }
            .container-main_text{
                .container-main_text--header{
                    div{
                        h2{
                            font-size: 15px;
                        }
                        a{
                            font-size: 13px;
                        }
                    }
                    p{
                        font-size: 13px;
                    }
                }
            }
            .container-main_info{
                width: 270px;
                p{
                    font-size: 13px;
                    padding-bottom: 23px;
                }
                .container-main_text--statistics{
                    gap: 20px;
                    text-align: center;
                    margin: 0 auto 23px;
                    div{
                        span{
                            font-size: 13px;
                        }
                        h3{
                            font-size: 15px;
                        }
                    }
                }
                .container-main_text--links{
                    flex-direction: column;
                    gap: 17px;
                    div{
                        width: 100%;
                        p{
                            padding: 0;
                            a{
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }
    }
}